# Gradle temporary directory
.gradle/

# The build directory
build/
gwt-al/build/
examples/build/

# The war directory
examples/war/

# IDEA project files
*.iml
*.ipr
*.iws
gwt-al/*.iml
gwt-al/*.ipr
gwt-al/*.iws
examples/*.iml
examples/*.ipr
examples/*.iws
